
@media (max-width: 992px){
  label{
    font-size: 11px !important;
  }
}

@media (max-width: 768px){
  label{
    font-size: 6px !important;
    margin-right: 2rem !important;
  }

  .d-flex input{
  width: 8px !important;
  margin-right: 7px !important;
  }
}